* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  color: black;
}

.logo span {
  color: red;
}

.navlist {
  list-style-type: none;
}

.grid {
  display: grid;
  align-items: center;
}

.navbarSection {
  background-color: white;
  margin: 10px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}


.close {
  display: none; /* Hidden by default */
}

.close.show {
  display: block; /* Show when 'show' class is added */
}

@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    background-color: white;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);
    transition: .3s ease-in-out;
    display: none;
  }

  .navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 5px;
  }

  .nav-item {
    padding: 5px;
  }

  .nav-link {
    color: grey;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
  }

  .booktable {
    margin: 15px;
    width: 40%;
  }
 
.navBar.show {
  display: block; /* Show when 'show' class is added */
}


  .close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 32px;
    font-weight: 300;
    color: red;
  }

  .nav-link:hover {
    color: red;
  }
}

.toggle .fa-bars {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  border-bottom: 2px solid #de3144;
  color: red;
}

.nav-link.active {
  color: red;
}

.navbar-brand {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

.navbar-brand span {
  color: red;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: grey;
  text-transform: capitalize;
}




.booktable{
	color: white;
	background-color: rgba(240, 40, 60, 1.0);
border-radius: 60px;
text-transform: capitalize;
font-weight: normal;
font-size: 18px;
border: none;
padding: 10px 10px;
cursor: pointer;
}
.main h1{
  font-family: "fantasy", "Copperplate", papyrus;
color: black;
font-weight: bold;

}
.main h6{
color: grey;
font-weight: normal;
}
.main .booktable{
color: white;
background-color:rgba(240, 40, 60, 1.0) ;
border-radius: 60px;
height: 30px;
width: 50%;
font-size: 10px;
font-weight: 700;
text-transform: capitalize;
border: none;

}
.fa-play-circle-o{
	font-size: 32px;
	color:#de3144;
	margin-top: 10px;
	gap: 5px;
}
.aos-animate{
	opacity: 1;
	transform: translateZ(0) scale(1);
}
.Aboutus h6{
	color: grey;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.Aboutus h1{
		  font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
color: black;
	text-align: center;

}
.Aboutus span{
	color:#de3144 ;
	text-transform: capitalize;
	text-align: center;
			  font-family: "fantasy", "Copperplate", papyrus;

}
#decorate{
	 
  position: relative;
 
}
#decorate img{
 height: auto;
 width: 100%;
}
.book {
color: black;  
 background-color: white; /* Add a semi-transparent background for readability */
   padding: 20px;
   border-radius: 10px;
text-align: center;
margin-top: 20px;
border: 2px solid darkgrey;
height: 100px;
width:100%;
 }
 .fa-check{
  color:#de3144  ;
}
.list{
  list-style-type: none;
}
.video{
  position: relative;
  display: inline-block;
}
.video img{
display: block;
width: 100%;
}
.fa-circle-play{
  width: 80px;
height: 80px;
color: red;
left:50%;
top: 50%;
position:absolute;
transform: translate(-50%,-50%);
background: radial-gradient(red 50%, rgba(206, 18, 18, 0.4) 52%);
overflow: hidden;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.why{
    background-color: rgba(182, 172, 177, 0.14);

}
.choose{
  background-color:#CF0F0F;
  text-align: center;
  justify-content: center;
  color: white;
}
.learn{
  background-color:#EA1E1E;
  font-size: 20px;
color: white;
text-transform: capitalize;

height: 30px;
width: 80%;
border-radius: 50px;
border: none;
}
.learn:hover{
  background-color: white;
  color:#EA1E1E ;
}
.icons{
  background-color: floralwhite;
  text-align: center;
  justify-content: center;
}
#ard{
  color: #CF0F0F;
display: flex;
align-items: center;
justify-content: center;
margin-right: 5px;	width: 64px;
height: 64px;
font-size: 30px;
font-weight: 10px;
margin-bottom: 32px;
border-radius: 50px;
background-color: #fcd0d5;
  
}
#ard:hover{
  color: white;
  background-color: #CF0F0F;
}
.counter{
  position: relative;
          background-image: url('images/y3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
padding: 10px 0;	
color: white;			
text-align:center;  	
}
.counter div{
  margin-bottom: 30px;
}
.counter h1, .counter h3 {
          margin: 0;
      }
      .counter::before{
         content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(42, 38, 41, 0.5); /* Semi-transparent overlay */
          z-index: 1;
      }
       .counter .container-fluid {
          position: relative;
          z-index: 2;
      }

      .ourmenu h6{
text-transform: capitalize;
color: grey;
font-weight: normal;
      }
      .check{
  font-family:  "fantasy", "Copperplate", papyrus;

}
.menu-list{
position: relative;
border-bottom: 2px solid grey;
}
.menu-list-starters{
position: relative;
border-bottom: 2px solid red;
}
.menu-list:hover{
  border-bottom: 2px solid red;

}
.tab h3{
  font-family: "Shadows Into Light", cursive;

}
.Starters{
max-width: 100%;
height: auto;
}
.Starters h3{
font-family: "Gill Sans Extrabold", sans-serif;
}
.Starters h5{
color: red;
}
.testimonials{
  background-color: rgba(182, 172, 177, 0.14);
text-align: center;
}
.testimonials h1{
        font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
}
.testimonials h6{
color: grey;
font-weight: normal;

}
.testimonials h6, .testimonials h1{
text-align: center;

}
.testimonials span{
color: #de3144;
}

            .image{
  width: 100px;
  height: 100px;
  position: relative;
  flex-shrink: 0;
}
.image img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.testi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0px;
}
.text{
  position: relative;
padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.text > p{
  position: relative;
  font-size: 15px;
  margin-bottom: 30px;
}
.text > p::before{
  content: open-quote;
  top: -30px;
  left: 10px;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 500px;
  line-height: 1;
  position: absolute;
  color:lightpink ;
  height: 40px;
  z-index: -1;
  
}
.text > p::after{
  content: close-quote;
  right: 0px;
  bottom: -25px;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 500px;
  line-height: 1;
  position: absolute;
  color:lightpink ;
  height: 40px;
  z-index: -1;
}
.text .name{
  position: relative;
  width: fit-content;
  line-height: 1;
  text-transform: uppercase;
                    font-family: "fantasy", "Copperplate", papyrus;


}

.text .name h6{
  font-size: 12px;
  color: blue;
}
.text .name p{
  font-size: 7px;
  text-align: left;
  padding-left: 5px;
}



@media screen and (min-width: 768px){
   .testi{
      flex-direction: row;
      padding: 30px 100px;
  }
.image{
  width: 200px;
  height: 200px;
}
}
.testimonials .fa-star{
color: #F7CD12;
}
.img-wrapper{max-width: 100%;
height: 10em;
display: flex;
justify-content: center;
align-items: flex-start;
}
.parties{
width:1500px;
display: flex;
overflow-x: scroll;
position: relative;
text-align: center;
color: white;
}
.parties div{
  width: 100%;
 display: grid;
 grid-template-columns: auto auto auto;
 padding: 10px;
 grid-gap: 10px;
 flex: none;
}
.parties div img{
 width: 100%;
transition: transform 0.5s;
}
.parties::-webkit-scrollbar{
 display: none;
}
.wrap{
display: flex;
align-items: center;
justify-content: center;
margin: 10% auto;

}
.fa-chevron-left, .fa-chevron-right{
 width: 50px;
 cursor: pointer;
 margin: 40px;
}
.parties div img:hover{
cursor: pointer;
transform: scale(1.1);
}.bottom-left{
position: absolute;
bottom: 10px;
left: 15px;
          color: whitesmoke;
          padding: 10px;
          border-radius: 5px;
                                font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
}

.parties span {
          position: relative;
          display: inline-block;
      }
      .chefs{
        background-color: rgba(182, 172, 177, 0.14);
text-align: center;
      }
      .chefs h1{
         font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
      }
      .chefs span{
        color:#de3144 ;
      }
      .chefs h6{
        color: grey;
        text-transform: uppercase;
        font-weight: normal;

      }
      .chef h6{
        color: grey;
        text-transform: capitalize;
      }
      .chef h4{
        text-transform: capitalize;
      }
      .chef:hover{
        cursor: pointer;
transform: scale(1.1);
box-shadow: 0px -10px 10px lightgrey;
      }
      .chef{
          transition: transform 0.5s ease-in-out; /* Smooth transition */
position: relative;
      }
      #booktable{
        text-align: center;

      }
      .chefs.card-body {
width: 100%;
max-width: 25rem;
margin: 0 auto;
justify-content: center;
text-align: center;
}
      #booktable h6{
        color: grey;
        font-weight: normal;
        text-transform: uppercase;
      }
      #booktable h1 span{
        color: #de3144;
      }
      #booktable h1{
     font-family: "fantasy", "Copperplate", papyrus;
     text-transform: capitalize;
      }
      .stay{
        background-color: rgba(182, 172, 177, 0.14);
      }
      .php-email-form{
        padding: 30px;
        margin-top: 30px;

      }
      .php-email-form input{
        display: flex;
        padding: 10px 10px;
        display: grid;
        columns: 100px;
      }
      .footer{
        background-color: #212529;
        color: white;
        text-transform: capitalize;
        text-align: center;
      }
      .footer .icon{
        margin-right: 60px;
        color: darkred;
        font-size: 35px;
      }
      .socialinks{
        padding-top: 15px;
      }
      .socialinks .fa{
        border: 2px solid white;
        border-radius: 50%;
        padding: 10px;
      }
      .copyright{
        text-transform: capitalize;
        text-align: center;
        display: inline-block;
padding-top:10px ; 
       border-top: 2px solid grey;
}
.gallery{
text-align: center;
          background-color: rgba(182, 172, 177, 0.14);


}
.gallery h6{
text-transform: uppercase;
color:grey ;
font-weight: normal;
}
.gallery  span{
 color: #de3144;
 text-transform: capitalize;

}
.gallery h1{
 text-transform: capitalize;
        font-family: "fantasy", "Copperplate", papyrus;

}
.swiper-container{
 width: 100%;
 height: 400px;
}
.swiper-wrapper{
 display: flex;
 align-items: center;
 margin: 60px;
}
.swiper-slide{
 display: flex;
 align-items: center;
 justify-content: center;
 width: auto;
 height: 100%;
     transition: transform 0.3s ease, border 0.3s ease; /* Smooth transition for transformations */

}
.swiper-slide img{
 width: 100%;
 height: 100%;
 object-fit: cover;
     transition: transform 0.3s ease; /* Smooth transition for transformations */

}
.swiper-slide-active img{
  transform: scale(1.2); /* Increase the size of the active slide */
  border: 5px solid #de3144; /* Add a border to the active slide */
transition: ;
}
.swiper-pagination {
  position: relative;
  bottom: px; /* Position the pagination 10px from the bottom */
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;

}
.contact{
text-align: center;
      }
      .contact h1{
         font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
      }
      .contact span{
        color:#de3144 ;
      }
      .contact h6{
        color: grey;
        text-transform: uppercase;
        font-weight: normal;

      }
      iframe{
        width: 100%;
        height: 400px;
      }
      .contact .icon{
        font-size: 32px;
        font-weight: normal;
        border: 1px solid darkred;
        padding: 15px;
        border-radius: 50%;
        background-color: #de3144;
        color: white;
        margin-left: 10px;
        font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
      }
      .contact .card-body{
        margin-left: 20px;
        padding: 15px;
        margin: 10px;
float: left;
      }
      .contact .card{
                  box-shadow: 0 0 25px lightgrey;
                  margin: 10px;
max-width: 100%;
      }
      .contact .card-title{
        margin-right: 40px;
      float: left;
      text-transform: capitalize;
      }
      .contact .card-text{
        float: left;
      }
      .form{

      }
      