body {
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 200px;
}
.col-md-4 {
  text-align: center;
  padding-bottom: 50px;
  border-right: 1px dashed black;
}
.col-md-4:last-child {
  border-right: 0px solid black;
}
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
@media (max-width: 991px) {
  .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 50%;
    margin: auto auto;
  }
  
  .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }
}
.container{
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.7786764363948704) 100%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 50%;
      height: 50%;
      position: relative;
      margin-top: 25%;
      margin-left: 25%;
      transform: translate(10%,50%);

}