** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  color: black;
}

.logo span {
  color: red;
}

.navlist {
  list-style-type: none;
}

.grid {
  display: grid;
  align-items: center;
}

.navbarSection {
  background-color: white;
  margin: 10px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}


.close {
  display: none; /* Hidden by default */
}

.close.show {
  display: block; /* Show when 'show' class is added */
}

@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    background-color: white;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);
    transition: .3s ease-in-out;
    display: none;
  }

  .navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 5px;
  }

  .nav-item {
    padding: 5px;
  }

  .nav-link {
    color: grey;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
  }

  .booktable {
    margin: 15px;
    width: 40%;
  }
 
.navBar.show {
  display: block; /* Show when 'show' class is added */
}


  .close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 32px;
    font-weight: 300;
    color: red;
  }

  .nav-link:hover {
    color: red;
  }
}

.toggle .fa-bars {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  border-bottom: 2px solid #de3144;
  color: red;
}

.nav-link.active {
  color: red;
}

.navbar-brand {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

.navbar-brand span {
  color: red;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: grey;
  text-transform: capitalize;
}




.booktable{
	color: white;
	background-color: rgba(240, 40, 60, 1.0);
border-radius: 60px;
text-transform: capitalize;
font-weight: normal;
font-size: 18px;
border: none;
padding: 10px 10px;
cursor: pointer;
}
.main h1{
  font-family: "fantasy", "Copperplate", papyrus;
color: black;
font-weight: bold;

}
.main h6{
color: grey;
font-weight: normal;
}
.main .booktable{
color: white;
background-color:rgba(240, 40, 60, 1.0) ;
border-radius: 60px;
height: 30px;
width: 50%;
font-size: 10px;
font-weight: 700;
text-transform: capitalize;
border: none;

}
.fa-play-circle-o{
	font-size: 32px;
	color:#de3144;
	margin-top: 10px;
	gap: 5px;
}
.aos-animate{
	opacity: 1;
	transform: translateZ(0) scale(1);
}
.Aboutus h6{
	color: grey;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.Aboutus h1{
		  font-family: "fantasy", "Copperplate", papyrus;
text-transform: capitalize;
color: black;
	text-align: center;

}
.Aboutus span{
	color:#de3144 ;
	text-transform: capitalize;
	text-align: center;
			  font-family: "fantasy", "Copperplate", papyrus;

}
#id{
	position: relative;
	 translate:(-50%, -50%);
	 top: 50px;
	 left: 50px;
}

#id p{
	position: relative;
	top: 50px;
	left: 50px;

}
.car{
	width: 100%;
	color: white;
	background-color: #e91229;

}
#btn{
	font-size: 20px;
	background-color: #fa4572;
	color: white;
	text-transform: capitalize;
}
#btn:hover{
background-color: white;
color: red;
font-size: 20px;
text-transform: capitalize;
}
#ard{
	color: #fa4572;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	font-size: 30px;
	font-weight: 10px;
	margin-bottom: 32px;
	border-radius: 50px;
	background-color: #fcd0d5;
		
}
.fa-check{
	color: indianred;
}
.list{
	list-style-type: none;
}
.fa {
    font-family: arial;
    font-weight:30px;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
.divider{
	background-repeat:repeat;
	background-size: cover;

background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.7786764363948704) 100%);
background-image:linear-gradient( rgba(203,98,32,0.5) , rgba(12,217,32,0.2),rgba(75,9,121,0.5)  ) , url("images/p2.jpg");
			position: relative;
		}

.check{
		font-family:  "fantasy", "Copperplate", papyrus;

}
.about .book{
	background-color: white;
	left: 10%;
	right: 10%;
	bottom:10%;
	padding: 20px;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.8);
	text-align: center;

}
.fa-solid{
	font-size: 1000;
}
.fa-circle-play{
	width: 80px;
	height: 80px;
	color: red;
	left:30%;
top:calc(50% - 37px);

	position:absolute;
	background: radial-gradient(red 50%, rgba(206, 18, 18, 0.4) 52%);
overflow: hidden;
	border-radius: 50%;
	display: block;
}
.menu-list{
	position: relative;
	border-bottom: 2px grey solid;
}
.menu-list-starters{
	position: relative;
		border-bottom: 2px red solid;

}
.menu-list:active{
	position: relative;
	border-bottom: 2px red solid;
	cursor: pointer;
}